.bar {
	padding: 0;
	@media screen and (min-width: 768px) {
		padding: 0;
	}
}

.pie {
	p {
		font-weight: bold;
		color: rgb(13, 206, 206);
		font-size: 15px;
		@media screen and (min-width: 768px) {
			font-size: 20px;
		}
	}
	.option {
		height: 30px;
		margin-bottom: 15px;
		@media screen and (min-width: 768px) {
			font-size: 15px;
			letter-spacing: 0.5px;
			margin-bottom: 30px;
		}
	}
}
