form {
	background-color: rgb(212, 226, 223);
	padding: 10px;
	p {
		font-weight: bold;
		color: rgb(13, 206, 206);
		font-size: 15px;
	}
	.option {
		height: 30px;
		color: darkgreen;
		font-size: 15px;
		letter-spacing: 0.5px;
	}
}
