.app {
	text-align: center;
	padding: 10px;
	background-color: rgb(212, 226, 223);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header p {
	color: rgb(13, 206, 206);
	font-weight: bold;
	font-size: 50px;
}
